:root {
  --blue-100: hsl(225, 100%, 94%);
  --blue-700: hsl(245, 75%, 52%);
  --blue-50: hsl(225, 100%, 98%);
  --gray-600: hsl(224, 23%, 55%);
  --blue-950: hsl(223, 47%, 23%);
  --white: hsl(0, 0%, 100%);
}
